.navlink{

    font-size: 4rem;

    text-decoration: none;
    color: inherit;
    transition: color 0.5s, font-size 0.25s;
}

.navlink:hover{
    color: chartreuse;
}

@media screen and (max-width: 740px){
    .navlink{
        font-size: 4em;
    }
}
@media screen and (max-width: 640px){
    .navlink{
        font-size: 3.5em;
    }
}
@media screen and (max-width: 520px){
    .navlink{
        font-size: 2.75em;
    }
}