.grid{
    display: grid;
    grid-template-areas:
        "pic name"
        "pic hero"
    ;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    gap: 5rem;

    height: 100%;
    width: 90%;}

.title{
    grid-area: name;
    font-size: 5rem;
}

.description{
    grid-area: hero;
    width: 80%;
    text-align: justify;
}

.picture{
    position: relative;
    grid-area: pic;
}

@media screen and (max-width: 1600px) {
    .title{
        font-size: 4rem;
    }
}

@media screen and (max-width: 1400px) {
    .title{
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 1000px) {
    .grid{
        grid-template-areas:
            "name"
            "hero"
            "pic"
        ;
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 2rem;
    }
    .title{
        font-size: 3.5rem;
    }
    .description{
        width: inherit;
    }
    .picture{
        height: 90svw;
        width: 90svw;
    }
}