*,
*::before,
*::after{
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    margin: 0;

    font-family: "Jost", sans-serif;
    background-color: #fdf8ec;
    color: rgb(20, 20, 20);

    overflow: scroll;
}