*,
*::before,
*::after{

    box-sizing: border-box;
}

:root {

    --bg-color: rgb(10,10,10);
    --text-color: rgb(255, 200, 118);
}

body {

    font-family: "Bebas Neue", cursive;
    font-weight: 400;

    background-color: var(--bg-color);
    color: var(--text-color);

    height: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 0px 20px 20px 20px;

}