.landingContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    height: 100svh;
}

.canvasContainer {
    height: inherit;
}

.greeting {
    font-size: 4.5rem;
    font-weight: bold;
}
