.grid{
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-areas:
        "nav main"
    ;
    margin-inline: auto;
    max-width: 90vw;
}

.main{
    grid-area: main;
    height: fit-content;
}

.navDesktop{
    position: sticky;
    top: 0;
    height: fit-content;
    grid-area: nav;
    margin-right: 3rem;
}

.navMobile{
    display: none;
    position: absolute;
    background-color: #FAEDCD;
    width: 95vw;
    height: 100%;
    z-index: 1;
}

.burger{
    position: absolute;
    font-size: 1.2rem;
    margin-right: 2rem;
    z-index: 10;
    top: 3rem;
    right: 0;

    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .grid{
        display: block;
        max-width: 95vw;
    }
}