.navlist{
    padding-top: 15svh;
    display: flex;
    flex-direction: column;

    height: inherit;

    gap: 0.5rem;
}

.navlist > * {
    font-size: 1rem;
    text-align: right;
    text-decoration: none;
    color: inherit;
    transition: color 0.5s;
}

.name{
    font-family: "Cairo", sans-serif;
    font-size: 1.2rem;
    margin-bottom: 4rem;
}

.navlist > *:hover{
    color: rgb(255, 64, 89);
}

@media screen and (max-width: 1000px) {
    .navlist{
        padding-top: 5svh;
    }
}