.navlist{
    padding-right: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;

    gap: 0.5rem;
}

.navlist > * {
    font-size: 1rem;
    text-align: right;
    text-decoration: none;
    color: inherit;
    transition: color 0.5s;
}

.navlist > *:hover{
    color: rgb(255, 64, 89);
}