.section {
    display: grid;
    grid-template-areas:
    "smHeader       ."
    "lgHeader       ."
    "content content"
    ;

    height: fit-content;
    margin-bottom: 5rem;
}

.smtitle{
    font-family: "Cairo", sans-serif;
    grid-area: smHeader;
    font-size: 1.0rem;
    padding-left: 0.5rem;
}
.lgtitle{
    grid-area: lgHeader;
    font-size: 6rem;
    font-weight: 600;

    margin-bottom: 6rem;
}

.content{
    grid-area: content;
}

@media screen and (max-width: 1000px) {
    .lgtitle{
        font-size: 5rem;
    }
}

