.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: 3rem;
    gap: 2rem;
}

.card{
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.cardImage{
    position: relative;
    place-self: center;
    width: 100%;
    height: 50vw;
    margin-bottom: 1rem;
}

.cardImage > *{
    object-fit: cover;
}

.cardTitle{
    width: fit-content;
    font-size: 3rem;
}

.cardDesc{
    width: fit-content;
    font-size: 1.5rem;
    color: #919191;
}

.cardLink{
    width: fit-content;
    font-size: 1.5rem;

    text-decoration: none;
    color: #919191;
    transition: color 0.5s, font-size 0.25s;
}

.cardLink:hover{
    color: chartreuse;
}

@media screen and (max-width: 1080px) {
    .grid{
        grid-template-columns: 1fr;
    }
    .cardImage{
        width: 100%;
        height: 90vw;
    }
    
}