.cardContainer{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.card{
    display: grid;
    grid-template-areas:
        " pic  title "
        " pic  description "
    ;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content 1fr;
    gap: 2rem;

    height: fit-content;
    width: 90%;
}

.picture{
    position: relative;
    grid-area: pic;
    height: 25vw;
    width: 30vw;
    overflow: hidden;
}

.title{
    grid-area: title;
    font-size: 6rem;
    text-align: right;

}

.description{
    grid-area: description;
    text-align: right;
}

.link{
    text-decoration: none;
    color: rgb(20, 20, 20);
    transition: color 0.5s;
}

.link:hover{
    color: rgb(255, 64, 89);
}


@media screen and (max-width: 1600px) {
    .title{
        font-size: 5rem;
    }
}

@media screen and (max-width: 1400px) {
    .title{
        font-size: 4rem;
    }
}

@media screen and (max-width: 1200px) {
    .title{
        font-size: 3rem;
    }
}


@media screen and (max-width: 1000px) {
    .card{
        grid-template-areas:
            "pic"
            "title"
            "description"
        ;
        grid-template-columns: auto;
        grid-template-rows: auto min-content min-content;
        gap: 0rem;
    }
    .title{
        font-size: 3rem;
        font-weight: 600;
        text-align: left;
    }
    .description{
        text-align: left;
    }
    .picture{
        position: relative;
        grid-area: pic;
        height: 30vw;
        width: 90%;
    }
}